{% extends 'base.html' %}
{% block content %}

<h1>About the Hike Tracker</h1>
<hr />
<p><center> Keep track of all the amazing hikes you go on! </center></p>
<p><center> And of course... </center></p>
<p><center> Add the best photo of the hike you took! </center></p>
<p>With your hike tracker, you can take note of the following things:</p>
<ul>
    <li> 1. The name of the trail </li>
    <li> 2. The length </li>
    <li> 3. The elevation gain </li>
    <li> 4. The level of difficulty (in your opinion) </li>
    <li> 5. A brief description </li>

{% endblock %}
